<h2  class="title is-3"><%= @page.title %></h2>

<article>
  <p class="lead"><%= @page.content %></p>

  <figure class="image">
    <img src="https://lh3.googleusercontent.com/Yd7LrL-z77t9d8nZPpKZae59wzsbYu4tutAu55LCFNIfQUIJ4eprLE4bNRFqrNJzze4XoEf_3yztOBW7qOmu_9XSwk99ldBHbHQfxJz09vJ8g8bEIc3dMJMAe0TZR8vc00CwL7elkBl5Mvtz-gX-fGupyHN-r746yAY8S5pigeQYjIG0PJwk5BX-di3pnxboRoexNy0lVY49byw11EIwDH81yzxKzedkV6NeVUW6PKyCtoNenxxcrrH7g6Edjr6AYzDi4WMWuRnyeQeb9OYx-7oeiyJ6b6XgnwxqqfLHWGroDe6nlq4n2vhS4BQyP-tqAV29uqOdxvwQgU8xkJ0mJLEAsrayZhem-T1yWR2jrTPCeBV3gt4G6XnvJx0y4SoFI9Dyl_nb_7Als0s-nObvfySl1VMQedKZkd3pdS4v82ue7J2x3oxippMTJJPcyxMeNWXZxaRq9BqBriI7Yy7YFg9qUN-UT_Sg4qfD-9ZqtHOKFv4j0jyIC_bQ6McrmWqMeVT0likcLf_i9-XztmUqRAPHpXhcFiqJKgYXvNfa2K0Ru0UQ-lpneY_rd2VqjhptWhDFv5QtCoFOC0aRHUrQXp9mabZOGCZ-DX-JtEnc4y1WuhOPVOiOljMSYyHiWWISKzQDX3Ciktpo-DBuxLCU4ZLuwNEsXNep7sFEVLGFiMb8qoGTE1gI_w=w2572-h1530-no" width= "90%">
  </figure>
</article>

