<h2  class="title is-3"><%= @page.title %></h2>

<article>
  <p class="content is-medium has-text-grey-darker"><%= @page.content %></p>

  <figure class="image">
    <img src="https://i.imgur.com/vYsK1lW.jpg">
  </figure>
</article>

