<% if @tags.empty?  %>
  <p>There are no brands available.</p>
<% else%>
    <table>
  <tr>
    <th>Name</th>
    <th>Product in Brand</th>
    <th colspan="3"></th>
  </tr>
  <% @tags.each do |tag|%>
    <tr>
    <td><%= link_to tag.name.capitalize , tag_path(tag)%></td>
    <td><%= tag.products.count %> </td>
    </tr>
  <% end %>
    </table>
<% end%>