<% if @tags.empty?  %>
  <p>There are no tags available.</p>
<% else%>
<%= paginate @tags %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Product in Brand</th>
      </tr>
    </thead>
      <% @tags.each do |tag|%>
        <tr>
        <td><%= link_to tag.name.capitalize , tag_path(tag)%></td>
        <td><%= tag.products.count %> </td>
        </tr>
      <% end %>
  </table>
<%= paginate @tags %>
<% end%>