<% if @tags.empty?  %>
  <p>There are no brands available.</p>
<% else%>
<div class="columns">
  <div class="column is-6"><%= pagy_bulma_nav(@pagy).html_safe %></div>
</div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Product in Brand</th>
      </tr>
    </thead>
      <% @tags.each do |tag|%>
        <tr>
        <td><%= link_to tag.name.capitalize , tag_path(tag)%></td>
        <td><%= tag.products.count %> </td>
        </tr>
      <% end %>
  </table>
<div class="columns">
  <div class="column is-6"><%= pagy_bulma_nav(@pagy).html_safe %></div>
</div>
<% end%>