<% if @tags.empty?  %>
  <p>There are no tags available.</p>
<% else%>
<%= paginate @tags %>
  <div class="container-fluid ">
  <div class="row">
    <div class="col">
    </div>
        <div class="col col-8">
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Product in Category</th>
          </tr>
        </thead>
        <% @tags.each do |tag|%>
          <tr>
          <td><%= link_to tag.name.capitalize , tag_path(tag)%></td>
          <td><%= tag.products.size %> </td>
          </tr>
        <% end %>
        </table>
        </div>
    <div class="col">
    </div>
  </div>
</div>
<%= paginate @tags %>
<% end%>