<% if @brands.empty?  %>
  <p>There are no brands available.</p>
<% else%>
    <table>
  <tr>
    <th>Name</th>
    <th>Product in Brand</th>
    <th colspan="3"></th>
  </tr>
  <% @brands.each do |brand|%>
    <tr>
    <td><%= link_to brand.name.capitalize , brand_path(brand)%></td>
    <td><%= brand.products.count %> </td>
    </tr>
  <% end %>
    </table>
<% end%>