<% if @brands.empty?  %>
  <p>There are no brands available.</p>
<% else%>
    <div class="columns">
      <div class="column is-6"><%= pagy_bulma_nav(@pagy).html_safe %></div>
    </div>

  <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Product in Brand</th>
    </tr>
  </thead>
  <% @brands.each do |brand|%>
    <tr>
      <td><%= link_to brand.name.capitalize , brand_path(brand)%></td>
      <td><%= brand.products.count %> </td>
    </tr>
  <% end %>
    </table>
    <div class="columns">
      <div class="column is-6"><%= pagy_bulma_nav(@pagy).html_safe %></div>
    </div>
<% end%>