<% if @brands.empty?  %>
  <p>There are no brands available.</p>
<% else%>
  <%= paginate @brands %>

  <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Product in Brand</th>
    </tr>
  </thead>
  <% @brands.each do |brand|%>
    <tr>
      <td><%= link_to brand.name.capitalize , brand_path(brand)%></td>
      <td><%= brand.products.count %> </td>
    </tr>
  <% end %>
    </table>
  <%= paginate @brands %>
<% end%>