<% if @categories.empty?  %>
  <p>There are no categories available.</p>
<% else%>
  <%= paginate @categories %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Product in Category</th>
      </tr>
    </thead>
    <% @categories.each do |category|%>
      <tr>
      <td><%= link_to category.name.capitalize , category_path(category)%></td>
      <td><%= category.products.count %> </td>
      </tr>
    <% end %>
  </table>
<%= paginate @categories %>
<% end%>