<% if @categories.empty?  %>
  <p>There are no categories available.</p>
<% else%>
  <% @categories.each do |category|%>
    <h2><%= category.name.capitalize %></h2>
    <p>There are <%= category.products.count %> product in this category.</p>
    <P>Learn more about  <%= link_to "#{category.name.capitalize} category", category %></P>
  <% end %>
<% end%>